.container {
  width: 73rem;
  margin-top: 12.5%;
  display: flex;
  text-align: center;
}

.empty {
  width: 100%;
  background-color: white;
}

.container_form {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.container_list {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
